[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "polywrap-core"
version = "0.1.0a15"
description = ""
authors = ["Cesar <cesar@polywrap.io>", "Niraj <niraj@polywrap.io>"]

[tool.poetry.dependencies]
python = "^3.10"
polywrap-manifest = "0.1.0a15"
polywrap-msgpack = "0.1.0a15"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
pytest-asyncio = "^0.19.0"
pylint = "^2.15.4"
black = "^22.10.0"
bandit = { version = "^1.7.4", extras = ["toml"]}
tox = "^3.26.0"
tox-poetry = "^0.4.1"
isort = "^5.10.1"
pyright = "^1.1.275"
pydocstyle = "^6.1.1"

[tool.poetry.group.temp.dependencies]
pydeps = "^1.11.1"


[tool.poetry.group.dev.dependencies]
pycln = "^2.1.3"

[tool.bandit]
exclude_dirs = ["tests"]

[tool.black]
target-version = ["py310"]

[tool.pyright]
typeCheckingMode = "strict"
reportShadowedImports = false

[tool.pytest.ini_options]
asyncio_mode = "auto"
testpaths = [
    "tests"
]

[tool.pylint]
disable = [
    "invalid-name",
    "too-many-return-statements",
    "too-few-public-methods",
]
ignore = [
    "tests/"
]

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.pydocstyle]
# default