[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "polywrap-core"
version = "0.1.0b7"
description = "Polywrap Core"
authors = ["Cesar <cesar@polywrap.io>", "Niraj <niraj@polywrap.io>"]

[tool.poetry.dependencies]
python = "^3.10"
polywrap-msgpack = "^0.1.0b7"
polywrap-manifest = "^0.1.0b7"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.2"
pylint = "^2.15.4"
black = "^22.10.0"
bandit = { version = "^1.7.4", extras = ["toml"]}
tox = "^3.26.0"
tox-poetry = "^0.4.1"
isort = "^5.10.1"
pyright = "^1.1.275"
pydocstyle = "^6.1.1"

[tool.bandit]
exclude_dirs = ["tests"]

[tool.black]
target-version = ["py310"]

[tool.pyright]
typeCheckingMode = "strict"
reportShadowedImports = false

[tool.pytest.ini_options]
testpaths = [
    "tests"
]

[tool.pylint]
disable = [
    "invalid-name",
    "too-many-return-statements",
    "too-few-public-methods",
    "unnecessary-ellipsis"
]
ignore = [
    "tests/"
]

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.pydocstyle]
# default