[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "polywrap-wasm"
version = "0.1.0b7"
description = "Polywrap Wasm"
authors = ["Cesar <cesar@polywrap.io>", "Niraj <niraj@polywrap.io>"]
readme = "README.rst"

[tool.poetry.dependencies]
python = "^3.10"
wasmtime = "^9.0.0"
polywrap-msgpack = "^0.1.0b7"
polywrap-manifest = "^0.1.0b7"
polywrap-core = "^0.1.0b7"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.2"
pylint = "^2.15.4"
black = "^22.10.0"
bandit = { version = "^1.7.4", extras = ["toml"]}
tox = "^3.26.0"
tox-poetry = "^0.4.1"
isort = "^5.10.1"
pyright = "^1.1.275"
pydocstyle = "^6.1.1"
pydantic = "^1.10.2"

[tool.bandit]
exclude_dirs = ["tests"]

[tool.black]
target-version = ["py310"]

[tool.pyright]
typeCheckingMode = "strict"
reportShadowedImports = false

[tool.pytest.ini_options]
testpaths = [
    "tests"
]

[tool.pylint]
disable = [
    "too-few-public-methods",
    "broad-exception-caught",
    "too-many-arguments",
    "duplicate-code",
]
ignore = [
    "tests/"
]

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.pydocstyle]
# default