[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "polywrap"
version = "0.1.0b7"
description = "Polywrap Python SDK"
authors = ["Cesar <cesar@polywrap.io>", "Niraj <niraj@polywrap.io>"]
readme = "README.rst"

[tool.poetry.dependencies]
python = "^3.10"
polywrap-msgpack = "^0.1.0b7"
polywrap-manifest = "^0.1.0b7"
polywrap-core = "^0.1.0b7"
polywrap-wasm = "^0.1.0b7"
polywrap-plugin = "^0.1.0b7"
polywrap-uri-resolvers = "^0.1.0b7"
polywrap-client = "^0.1.0b7"
polywrap-client-config-builder = "^0.1.0b7"
polywrap-fs-plugin = "^0.1.0b7"
polywrap-http-plugin = "^0.1.0b7"
polywrap-ethereum-provider = "^0.1.0b7"
polywrap-sys-config-bundle = "^0.1.0b7"
polywrap-web3-config-bundle = "^0.1.0b7"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"

pylint = "^2.15.4"
black = "^22.10.0"
bandit = { version = "^1.7.4", extras = ["toml"]}
tox = "^3.26.0"
tox-poetry = "^0.4.1"
isort = "^5.10.1"
pyright = "^1.1.275"
pydocstyle = "^6.1.1"

[tool.poetry.group.test.dependencies]
pysha3 = "^1.0.2"
pycryptodome = "^3.17"


[tool.bandit]
exclude_dirs = ["tests"]

[tool.black]
target-version = ["py310"]

[tool.pyright]
typeCheckingMode = "strict"
reportShadowedImports = false
reportWildcardImportFromLibrary = false

[tool.pytest.ini_options]
testpaths = [
    "tests"
]

[tool.pylint]
disable = [
    "too-many-arguments",
]
ignore = [
    "tests/"
]

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.pydocstyle]
# default