[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "polywrap-client-config-builder"
version = "0.1.0b6"
description = ""
authors = ["Media <media@polywrap.io>", "Cesar <cesar@polywrap.io>", "Niraj <niraj@polywrap.io>"]
readme = "README.rst"

[tool.poetry.dependencies]
python = "^3.10"
polywrap-uri-resolvers = "^0.1.0b6"
polywrap-core = "^0.1.0b6"

[tool.poetry.group.dev.dependencies]
hypothesis = "^6.76.0"
pytest = "^7.1.2"
pylint = "^2.15.4"
black = "^22.10.0"
bandit = { version = "^1.7.4", extras = ["toml"]}
tox = "^3.26.0"
tox-poetry = "^0.4.1"
isort = "^5.10.1"
pyright = "^1.1.275"
pydocstyle = "^6.1.1"


[tool.poetry.group.test.dependencies]
polywrap-sys-config-bundle = {path = "../config-bundles/polywrap-sys-config-bundle", develop = true}
polywrap-web3-config-bundle = {path = "../config-bundles/polywrap-web3-config-bundle", develop = true}

[tool.bandit]
exclude_dirs = ["tests"]

[tool.black]
target-version = ["py310"]

[tool.pyright]
# default

[tool.pytest.ini_options]
testpaths = [
    "tests"
]

[tool.pylint]
disable = [
    "unnecessary-ellipsis",
    "too-few-public-methods"
]
ignore = [
    "tests/"
]

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.pydocstyle]
# default